workflows/email-management/inbox-ninja.json
{
  "name": "InboxNinja",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "filters": {
          "q": "newer_than:3h AND -in:archive",
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        240
      ],
      "id": "ec3a5b42-cdc4-4058-8ce2-30d8f285a17e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        544
      ],
      "id": "f991fca1-a0ee-4d0d-8ee4-2139727b0fcf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Email Management"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        -224
      ],
      "id": "ae896e49-0a09-4ce8-9ad1-d202bfdbebf9",
      "name": "Promotions",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID",
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        176
      ],
      "id": "0250b102-fe20-4794-825e-5dfdf3ba8af5",
      "name": "Personal",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        528
      ],
      "id": "797057b5-9612-439b-b8ba-021a18e3253b",
      "name": "Receipts",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        720
      ],
      "id": "fcd84618-b0a2-4a2d-bb3e-f9f45dfc9b14",
      "name": "Other",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        240,
        -224
      ],
      "id": "7bbeabdc-15a8-47ce-8457-04d35a92e2b3",
      "name": "Mark as read",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "43ced623-e5d0-4e1d-ae5f-aa1e24349cb9",
      "name": "Newsletters",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        1408
      ],
      "id": "4524d06c-5238-46c8-a932-ab1bcf841512",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"vendor\": \"OpenAI\",\n\t\"amount\": \"29.99$\",\n  \"receipt id\": \"7123283928dhk217\",\n   \"from\": \"example@email.com\",\n  \"file\": \"billing25_89.pdf\",\n   \"description\": \"This is an invoice from example about you monthly subscription to the X product\",\n  \"flag\": \"This receipt is above average. Normally it is 19.99$ and this one is 29.99$. I recommend checking your billing.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1120,
        480
      ],
      "id": "9e593ffd-5d3e-4017-868b-44339c24ce48",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        1600
      ],
      "id": "74eaef4b-c0e3-4224-bc66-59a8f7420a18",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Email Management"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Is_summarized",
              "lookupValue": "no"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        112,
        1600
      ],
      "id": "6de0f738-4263-4805-b690-da50e92c13e7",
      "name": "Get_Newsletters",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nFrom: {{ $json.From }}\nEmail body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is for any email that is looking to sell me things or to view products and their features to later sell it to me."
            },
            {
              "category": "Newsletter",
              "description": "This is for any email that is a newsletter. Don't include invitations to events to this category"
            },
            {
              "category": "Personal",
              "description": "This is for any email sent from a friend or family members or something that looks personal and was sent to me outside of work.|This does not include LinkedIn emails."
            },
            {
              "category": "Customers",
              "description": "Anything regarding my clients sending over documents, sales, etc.|This is also kind of personal, but around business. Not generic ones. Emails from Vercel and OpenAI are not to be included in this category."
            },
            {
              "category": "Receipts",
              "description": "These are transaction emails for receipts, expenses, payments confirmation|This could be in any language - most likely in English, Hebrew, or Russian. Can contain words like receipts specifically or even things like פירוט חיובים and such."
            },
            {
              "category": "Other",
              "description": "Anything that doesn't fall within the other categories."
            },
            {
              "category": "Social",
              "description": "This is for everything that is social media related updates: Linkedin, Facebook, Instagram, Gvahim etc...|Don't tag here things that need my immediate attention - Excluding updates on messages i received from other members or connection invites."
            }
          ]
        },
        "options": {
          "multiClass": false,
          "enableAutoFixing": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -512,
        160
      ],
      "id": "2538262e-9039-4f76-826f-e093cd698833",
      "name": "Email Classifier"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        0
      ],
      "id": "04ffa9c8-2219-40b6-a01e-ac6586eaf406",
      "name": "Get Full Newsletter",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now.format('yyyy/MM/dd') }}",
            "Id": "={{ $('Gmail Trigger').item.json.id }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "To": "={{ $('Gmail Trigger').item.json.To }}",
            "Title": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Content": "={{ $json.text }}",
            "Is_summarized": "no"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Is_summarized",
              "displayName": "Is_summarized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        528,
        0
      ],
      "id": "eb116daa-6f99-4ced-b923-3458d8cc3384",
      "name": "Google Sheets Add Newsletter",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        0
      ],
      "id": "5dc37afa-f67c-44ee-bd8f-a95096c82c47",
      "name": "Newsletters Mark Read",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "YOUR_LABEL_ID"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        368
      ],
      "id": "7767dfb4-b6fb-4e85-9e4d-ae541edb2a6f",
      "name": "Business",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Receipts').item.json.id }}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        176,
        528
      ],
      "id": "9c4a4616-548b-4aae-a0e9-084dee924be6",
      "name": "Get Full Receipt",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "=",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_FOLDER_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        704
      ],
      "id": "6c062647-90eb-450d-977a-43570c0766f0",
      "name": "Upload Receipt",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        688,
        496
      ],
      "id": "1df8e53d-dc3c-4605-a0b4-ba763e978aaa",
      "name": "Read Past Receipts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=from: {{ $('Gmail Trigger').item.json.From }}\nbody: {{ $('Get Full Receipt').item.json.text }}\nsubject: {{ $('Gmail Trigger').item.json.Subject }}\nhtml: {{ $('Get Full Receipt').item.json.html }}\nFile data extraction (if exists): \nTitle: {{ $json.info.Title }}\nBody: {{ $json.text }}\nIs error: {{ $json.error }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent ai receipts classifier. Practically my finance sidekick. \n\nYou need to analyze and classify every expense or receipt you get. \nStart by calling \"Read Receipts tool\" and read all past receipts.\n\nfollow this flow:\n1. read the email and classify the expense to fill out the following details: Vendor , amount (with currency), from which email it was sent, description ,receipt id, receipt file extracted data.\nTake a close look at the extracted data from the receipt file. It might contained several charges (for example monthly breakdown). You need to provide only the total. In that case use your Calculator tool to sum charges. \n\nIf you get an invalid file data, or the information can be allocated form there, use your Gmail Tool to get all the email files and read them. \nError: {{ $json.error }}\nIf the error is: Invalid PDF structure, use Gmail Tool to get all files from the email message.\n\n2. You must read all the past receipts by calling your tool \"Read Receipts\". and see if this expense or receipt should be flagged. If it needs to be examined, explain why briefly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        704,
        224
      ],
      "id": "a911263f-3fc8-448d-a24f-c42c73801332",
      "name": "Receipts AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Receipts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Flag": "={{ $json.output.flag }}",
            "Description": "={{ $json.output.description }}",
            "Amount": "={{ $json.output.amount }}",
            "Vendor": "={{ $json.output.vendor }}",
            "From": "={{ $json.output.from }}",
            "Receipt id": "={{ $json.output['receipt id'] }}",
            "Email ID": "={{ $('Get Full Receipt').item.json.id }}",
            "Date": "={{ $now.format('dd-MM-yyyy') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Receipt id",
              "displayName": "Receipt id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flag",
              "displayName": "Flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1136,
        224
      ],
      "id": "6875a9ce-fb6d-46dc-b7d0-132b8e0b8754",
      "name": "Google Sheets Add Receipt",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        272
      ],
      "id": "936ff762-ec58-49e6-bd8a-e9634dab8253",
      "name": "Receipt Mark Read",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Is_summarized",
              "lookupValue": "no"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        880,
        1600
      ],
      "id": "faa97ab8-ffbb-4933-9e89-8b6bcba00292",
      "name": "Get_Newsletters1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        1600
      ],
      "id": "fbea995c-51c8-4374-a8d9-739431dcdd32",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Email Management"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a newsletter expert and my content manager, responsible to make me well informed and updated around what i need to know.\nStart by reading all the emails newsletter from the google sheet tool: Get_Newsletters.\n\nOnce you've read everything think about subjects you would like to get more information about. Provide only the subjects you want to deep dive more about as input. Nothing else. The subjects you will output must be spesific things from the newsletters. Don't ask for things that are not mentioned in the newsletters.\n\nI'm very interested in AI , AI agents, how businesses can use gen ai in their flows, building in public, building ai products and things around these lines.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -176,
        1408
      ],
      "id": "82ff4982-2263-4670-abe0-3f05560eb121",
      "name": "Mega Newsletter - Enrichment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a newsletter expert and my content manager, responsible to make me well informed and updated around what i need to know.\nStart by reading all the emails newsletter from the google sheet tool: Get_Newsletters.\nYour task is to make a digested , summrized version of all the information in the different newletters, so that i won't miss anything important. \nYou need to ready through every newsletter and decide what's important and what you need i should know and not miss.\nThen you should prepare this newletter digest.\n\n\nRead  all the enrichment material you have here:\n{{ $json.merged_response }}\n\n------------------\n\n1. From all the newsletters create a mega weekly newletter for me. Construct all the different newletters and materials into something that will look as one native newsletter. Add links with text where relevant. Don't be afraid if it is long, it is more important that the quality is good. Make it comprehensive as it is my weekly newsletters newsletter.\n2. Design it in html for me, so it will look like an email sent by apple. Beutiful and fun to read. See the design guidelines below.\n3. Provide only the html, as it will be used to send an email to me. Provide only the html.\n\nDesign Guidelines\nColors\n\nPrimary: Apple blue (#007AFF)\nHeader Gradient: Linear gradient from #007bff to #5856d6\nBackground: Light gray (#F5F5F7)\nText: Dark gray (#1D1D1F)\nSecondary text: Medium gray (#6E6E73)\nCard background: White (#FFFFFF)\nAccent elements: Apple blue (#007AFF)\n\nStyle\n\nMinimalist iOS-inspired design\nRounded corners (12px radius)\nSubtle shadows (0 1px 3px rgba(0,0,0,0.06))\nClean white space\nPill-shaped buttons\nCard-based content organization\nSystem font family (-apple-system, BlinkMacSystemFont)\n\nTypography\n\nFont family: Apple system fonts\nHeading sizes: 24px, 18px, 16px\nBody text: 14px\nButton text: 13px with medium weight\nLine height: 1.5\n\nTone\n\nClear and concise\nProfessional but conversational\nInformative without being overly technical\nAction-oriented with practical tips\nEnthusiastic about AI building and tools\n\nLayout\n\nSingle-column design\n600px maximum width\nClearly defined content sections\nConsistent spacing (24px padding)\nMobile-responsive design",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        640,
        1408
      ],
      "id": "9151a195-a65b-41f1-8bb4-0b0bcb371e11",
      "name": "Mega Newsletter AI Agent"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Weekly MegaNewsletter!! ",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        1408
      ],
      "id": "8c98ffe7-3849-4d2d-9510-2cf72923f053",
      "name": "Send Newsletter",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Is_summarized": "yes",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Is_summarized",
              "displayName": "Is_summarized",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1456,
        1408
      ],
      "id": "1f7ee11a-f8da-4908-b37f-3168f76ff04f",
      "name": "Google Sheets Add Newsletter1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        416,
        256
      ],
      "id": "fc1063f1-0d92-46da-ae8b-5bfafc8520a9",
      "name": "Extract from File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        976,
        528
      ],
      "id": "b718a032-59e4-4e69-8421-35946be991d7",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File": "={{ $json.webViewLink }}",
            "Email ID": "={{ $('Get Full Receipt').item.json.id }}"
          },
          "matchingColumns": [
            "Email ID"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Receipt id",
              "displayName": "Receipt id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Flag",
              "displayName": "Flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "File",
              "displayName": "File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        704
      ],
      "id": "9ab88626-f27c-4d0e-bc07-a304afe0eac9",
      "name": "Google Sheets Add Receipt1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Get Full Receipt').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        848,
        496
      ],
      "id": "8036f6bc-cafe-4a5c-8e6b-4feec281e492",
      "name": "Gmail Tool",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        928
      ],
      "id": "6559dd47-3ae4-47c2-8a87-92a57fe0e0ad",
      "name": "Social",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        928
      ],
      "id": "381a4e74-422e-49e6-bb93-9cea50922c35",
      "name": "Mark as read1",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        480
      ],
      "id": "97e96aeb-65cb-4ae1-90bc-83234bf3da44",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Email Management"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\n\nTopics:\n{{ $json.output }}"
            }
          ]
        },
        "options": {
          "includeMergedResponse": true,
          "webSearch": true,
          "maxUses": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        176,
        1408
      ],
      "id": "702f076d-f6de-4874-ae25-5bf11932e0e3",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Newsletters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_DOCUMENT_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Is_summarized",
              "lookupValue": "no"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        1408
      ],
      "id": "057370e2-23f8-44a3-8370-1ffae5e4147a",
      "name": "Get rows to mark Summarized",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "your-email@example.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Promotions": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipts": {
      "main": [
        [
          {
            "node": "Get Full Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletters": {
      "main": [
        [
          {
            "node": "Get Full Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get_Newsletters": {
      "ai_tool": [
        [
          {
            "node": "Mega Newsletter - Enrichment",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Promotions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receipts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Newsletter": {
      "main": [
        [
          {
            "node": "Google Sheets Add Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Add Newsletter": {
      "main": [
        [
          {
            "node": "Newsletters Mark Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Receipt": {
      "main": [
        [
          {
            "node": "Upload Receipt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Receipt": {
      "main": [
        [
          {
            "node": "Google Sheets Add Receipt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Past Receipts": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receipts AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets Add Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Add Receipt": {
      "main": [
        [
          {
            "node": "Receipt Mark Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Newsletters1": {
      "ai_tool": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mega Newsletter - Enrichment": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mega Newsletter AI Agent": {
      "main": [
        [
          {
            "node": "Send Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter": {
      "main": [
        [
          {
            "node": "Get rows to mark Summarized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "Mark as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Receipts AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Mega Newsletter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows to mark Summarized": {
      "main": [
        [
          {
            "node": "Google Sheets Add Newsletter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 1
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}